.earning_chart{
    color: #215CA8;
    font-size: 31px;
}

.booking_chart{
    color: #F8CE00;
    font-size: 31px;
}

.card .crypto-card-3 h4{
    color: #1F115C !important;
    font-weight: bold;
}
.laste_owner_table th , .laste_owner_table tr td{
    border: none !important;
}
.orange_bg{
    font-weight: bold;
    border-radius: 15px;
    color: #FFC107;
    background: #FFF3D4;
    /* margin-bottom: 36px; */
    padding: 6px 37px;


}
.green_bg{
    font-weight: bold;
    border-radius: 15px;
    color: #18A804;
    background: #E3FFB1;
    /* margin-bottom: 36px; */
    padding: 6px 37px;
}

table.dataTable {
    border-collapse :collapse !important;
}

.media-heading{
    color: black;
}
.media {
    display: flex;
    align-items: center !important;
}
.mail_data_table{
    color: black;
}
.file_dawnload{
    color: black;
}
.action_list{
    list-style: none;
    padding: 0px;
    display: flex;
    align-items: center;

}
.action_list li{
    display: inline-block;
}
.action_list li .dropdown button{
    background-color: unset !important;
    padding: 0px;
    padding-bottom: 2px;
}
.action_list li  .dropdown-toggle::after{
display: none;
}

.table thead th{
    border-top: none !important;
}
.breadcrumb .breadcrumb-item + .breadcrumb-item::before{
    content: "/" !important;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination{
    justify-content: center !important;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination li{
    margin: 0px 10px;
background-color: #F3F3F3;
border-radius: 6px;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination li a{
    background-color: #F3F3F3;
    border: none;
    color: black;
    border-radius: 21px;
}
.paginate_button.page-item.previous , .paginate_button.page-item.next {
    display: flex;
    align-items: center;
    background-color: unset !important;
}
.paginate_button.page-item.previous a,.paginate_button.page-item.next a{
    background: none;
    background-color: unset !important;
    border-radius: 50%;
    border: 1px solid #1111113b !important;
    height: 24px;
    width: 24px;
    padding: 1px;
    color: #111111;

}
.btn.btn-info.btn-min-width.box-shadow-3.acceptence_button{
    background-color: #215CA8 !important;
    border: none;
}
.btn.btn-info.btn-min-width.box-shadow-3.reject_button{
    background-color: unset !important;
    border: 1px solid #1111113d;
    color: #111111;
}

.card-header.card_header_border {
    border-bottom: 1px solid #80808030;
}
.search_button{
    border: none;
     height: 10px;
}
.search_button:focus{
outline: none;
}
.main-menu li.nav-item.active{
    color: #545766;
    background: whitesmoke;
    border-right: 4px solid #215CA8;
}
.main-menu li.nav-item.active a{
    color: #215CA8;    font-weight: 400 !important;
}
.btn.btn-info.btn-min-width.box-shadow-3.reject_button:hover{
    color: black !important;
}
.title_application h3{
    color: #215CA8;
    font-weight: 500;
}
.nav.nav-tabs.nav-iconfall .nav-item a.active{
    border-bottom: 1px solid;
    padding-bottom: 6px;
color: #000000;
}
.modal-header{
    border-bottom: 1px solid #98a4b82b;
}
.modal_button_language{
    width: 200px !important;
    text-align: center !important;
    background: white !important;
    border-color: azure !important;
    color: #215CA8 !important;
    font-size: 15px !important;
    padding: 10px !important;
}
.modal_button_language:hover{
   
    background: #215CA8 !important;
    border-color: #215CA8 !important;
    color: #ffff !important;
}
.title_heading_with_tab{
display: flex;
align-items: center;
}
.nav.nav-tabs.nav-iconfall .nav-item a:hover, .nav.nav-tabs.nav-iconfall .nav-item a:focus {
    color: #215CA8;

}
.content-header-left{
    display: flex;
    align-items: center;
}
.item_center{
    display: flex;
    align-items: center;
}
.dt-buttons{

    float: right;
    margin-bottom: 23px;

}
a.btn.buttons-collection.btn-outline-secondary.dropdown-toggle.mr-2.mt-50{
    color: #215CA8; 
}
a.btn.buttons-collection.btn-outline-secondary.dropdown-toggle.mr-2.mt-50:hover{
    background-color: #215CA8; 
    color: white;
}
.button_droup_edit{
    background-color: white !important;
    color: black !important;
    border-color: #11111136 !important;
    border-radius: 10px !important;
}
.dropdown-toggle::after{
    display: none !important;
}
.active_employee{
    border: 1px solid #18A804;
    width: max-content;
    padding: 10px 40px;
    border-radius: 16px;
    background: #CDFFC0;
    color: #18A804;
}
.buton_send_email.btn-primary{
    width: 394px !important;
    padding: 13px !important;
    font-size: 16px !important;
    /* background: #215CA8; */
    background-color: #215CA8 !important;
    border: none !important;
    border-radius: 10px !important;

}
.form_gray input,.form_gray textarea,.form_gray select{
    border: none !important;
    background-color: #F7F7F7 !important;

}
.form_gray .bank_input input{
    text-align: center;
}

.comission_list{
    list-style: none;
    padding: 0px;
}
.comission_list li{
    padding-bottom: 10px;
}
.comission_list li span{
   color: #215CA8;
}
.avatar img{
    border-radius: 50% !important;
    width: 39px !important;
    height: 39px !important;
    max-width: 39px !important;
}
.main-menu.menu-fixed.menu-light.menu-accordion.menu-shadow {
    padding-top: 22px;
}

.media [class*="avatar-"] i{
    position: absolute;
    right: 47px !important;
    bottom: -1px;
    width: 10px;
    height: 10px;
    border: 2px solid white;
    border-radius: 100%;
    top: 16px !important;
}
.info_black .info{
    color: #111111 !important;
    font-weight: bold;
}
.pie_chart_dev a.active{
    background-color: unset !important;
    color: #215CA8 !important;
    border-bottom: 3px solid !important;
    border-radius: 0px !important;
}

.pie_chart_dev a{
    background-color: unset !important;
    color: #ADB8CC !important;

}


