@charset "UTF-8";

:root {
    --light-color: #FFFFFF;
    --primary-color: #215CA8;
    --secondary-color: #4FADC0;
    --danger-color: #F80202;
    --warning-color: #FF7A00;
    --success-color: #0D9E1C;
    --black-color: #111111;
    --blue-color: #01058A;
}

@font-face{
    src: url('../fonts/Montserrat-ExtraBold.ttf');
    font-family: 'Montserrat-800';
}
@font-face{
    src: url('../fonts/Montserrat-Bold.ttf');
    font-family: 'Montserrat-700';
}
@font-face{
    src: url('../fonts/Montserrat-SemiBold.ttf');
    font-family: 'Montserrat-600';
}
@font-face{
    src: url('../fonts/Montserrat-Medium.ttf');
    font-family: 'Montserrat-500';
}
@font-face{
    src: url('../fonts/Montserrat-Regular.ttf');
    font-family: 'Montserrat-400';
}
@font-face{
    src: url('../fonts/Montserrat-Light.ttf');
    font-family: 'Montserrat-300';
}
@font-face{
    src: url('../fonts/Montserrat-ExtraLight.ttf');
    font-family: 'Montserrat-200';
}

/*
-----------------------------------------------------------------------
    Start Typography CSS
-----------------------------------------------------------------------
*/ 
html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    color: rgba(17, 17, 17, 0.7);
    font-family: 'Montserrat-500';
    font-size: 16px;
    line-height: 1.875;
    margin: 0;
    overflow-x: hidden;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	color: #111111;
    font-family: 'Montserrat-400';
    line-height: 1.25;
    margin-bottom: 10px;
    margin-top: 0;
    text-transform: capitalize;
}                                 

html body a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
	color: #111111;
}
html body a:hover, html body a:active, html body a:focus {
	color: var(--primary-color);
    box-shadow: none;
    -webkit-box-shadow: none;
    outline: none;
}
a img {
    border: none;
}
img {
    height: auto;
    max-width: 100%;
}

svg path{
    transition: all 0.2s ease-in-out;
}

button{
    outline: none !important;
    box-shadow: none;
    transition: all 0.3s ease-in-out;
}

.btn:focus,
.btn:hover,
.btn:active {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    outline: none !important;
}

p {
    margin-bottom: 30px;
}
p:last-child,
p:last-of-type {
    margin-bottom: 0;
}

textarea:focus, textarea:active, input:focus, input:active {
    outline: none;
}

pre
ol,
dl,
dd,
blockquote,
address,
table,
fieldset {
    margin-bottom: 30px;
}

ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}

table p {
    margin-bottom: 0;
}

strong{
    font-family: 'Montserrat-600';
}

::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    box-shadow: inset 0 0 4px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
}

::-webkit-scrollbar{
	width: 4px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb{
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.2);
    box-shadow: inset 0 0 6px rgba(0,0,0,.2);
	background-color: #bbbbbb;
}
/*
-----------------------------------------------------------------------
    End Typography CSS
-----------------------------------------------------------------------
*/

/* 
--------------------------------------------------------------------------------
	Start Common Style
--------------------------------------------------------------------------------
*/
html body.fixed-navbar {
    padding-top: 80px;
}

html body .content .content-wrapper {
    padding: 0 30px 0;
}

@media only screen and (max-width: 767px){
    html body .content .content-wrapper {
        padding: 0 15px;
    } 
}

.fs-14{
    font-size: 14px !important;
    line-height: 18px !important; 
}
.fs-18{
    font-size: 18px !important;
    line-height: 22px !important; 
}
.fs-20{
    font-size: 20px !important;
    line-height: 24px !important;
}

.text-extrabold{
    font-family: 'Montserrat-800';
}
.text-bold{
    font-family: 'Montserrat-700';
}
.text-semibold{
    font-family: 'Montserrat-600';
}
.text-medium{
    font-family: 'Montserrat-500';
}
.text-light{
    font-family: 'Montserrat-300';
}

.text-primary{
    color: var(--primary-color) !important;
}
.text-success{
    color: var(--success-color) !important;
}
.text-danger{
    color: var(--danger-color) !important;
}
.text-warning{
    color: var(--warning-color) !important;
}
.text-black{
    color: #111111 !important;
}
.text-blue{
    color: var(--blue-color) !important;
}

.text-align-justify{
    text-align: justify;
}

.space-nowrap{
    white-space: nowrap;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-align-center{
    display: flex;
    align-items: center;
}
.flex-content-center{
    display: flex;
    justify-content: center;
}
.flex-space{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.flex-space-around{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-end{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.g-5{
    gap: 5px;
}
.g-10{
    gap: 10px;
}
.g-15{
    gap: 15px;
}
.g-20{
    gap: 20px;
}
.g-25{
    gap: 25px;
}
.g-30{
    gap: 30px;
}
.g-40{
    gap: 40px;
}
.g-50{
    gap: 50px;
}

.w-40{
    width: 40% !important;
}
.w-100{
    width: 100% !important;
}

.carousel-control-prev, .carousel-control-next{
	width: auto;
	padding: 0 15px;
	transition: opacity 0.3s ease-in-out;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: 1px solid #FFFFFF;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: none;
	font-size: 19px;
    line-height: 23px;
}

.carousel-indicators{
	bottom: 0;
	gap: 15px;
	align-items: center;
	justify-content: center;
	margin: 0 0 10px;
}

.carousel-indicators li{
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: 1px solid #EEF1F5;
	background: #A8A8A8;
	opacity: 0.5;
	transition: all 0.3s ease-in-out;
	margin: 0;
}

.carousel-indicators li:not(.active){
	cursor: pointer;
}

.carousel-indicators .active{
	border-color: #215CA8;
	background: #215CA8;
	opacity: 0.8;
}

.carousel .slider-menu-bar{
	position: absolute;
	top: 12px;
	right: 12px;

	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: rgba(17, 17, 17, 0.1);
	border: 1px solid #FFFFFF;
    cursor: pointer;
}

.slider-menu-bar .slider-menu{
    display: none;
}

.carousel .slider-menu ul{
	position: absolute;
	z-index: 999;
	top: 100%;
	right: 0;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 22px 0 22px 16px;
	background: #FAFAFA;
	border-radius: 8px;
	min-width: 235px;
}

.carousel .slider-menu ul a{
	display: flex;
	align-items: center;
	font-size: 16px;
	line-height: 20px;
	text-transform: capitalize;
	font-family: 'Montserrat-500';
}

.carousel .slider-menu ul a svg{
	margin-right: 8px;
	width: 24px;
	height: 24px;
	object-fit: contain;
}

.carousel .slider-menu ul a:hover svg path{
	stroke: var(--primary-color);
}

ul.d-flex li{
    display: inline-flex;
    align-items: center;
}

ul.d-flex li{
    line-height: 1;
}
ul.d-flex li>img{
    margin-right: 10px;
}

.modal-content{
    border: 0;
}

.modal-content .modal-header,
.modal-content .modal-body{
    padding: 25px;
}

.modal-content.lg-padding .modal-header{
    padding: 25px 40px;
}

.modal-content.lg-padding .modal-body{
    padding: 35px 40px 45px;
}

.modal-header{
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    justify-content: space-between;
    align-items: center;
}

.modal-header .close{
    transition: all 0.3s ease-in-out;
    margin: 0;
    padding: 0;
}

.modal-header h5{
    font-size: 20px;
    line-height: 24px;
    color: #111111;
    font-family: 'Montserrat-500';
}

@media (min-width: 767px){
    .lg-modal.modal-dialog {
        max-width: 642px;
    }
}

@media (min-width: 575px){
    .sm-modal.modal-dialog {
        max-width: 470px;
    }
}

.sm-modal.modal-dialog .modal-content.lg-padding .modal-header{
    padding: 30px 25px;
}

.sm-modal.modal-dialog  .modal-content.lg-padding .modal-body{
    padding: 15px 25px 30px;
}

.modal .flex-center .btn{
    min-width: 335px;
}

.input-group,
.textarea-group,
.select-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.input-group.inline{
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 40px;
}

.input-group label,
.select-group label,
.textarea-group label{
    display: inline-flex;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 20px;
    color: #111111;
    font-family: 'Montserrat-500';
    text-transform: capitalize;
}

.input-group.inline label{
    white-space: nowrap;
    margin-bottom: 0;
    align-items: center;
}

.input-group.inline label.columned{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 0;
    min-width: 40%;
}

.input-group.inline label small{
    font-size: 12px;
    line-height: 15px;
    font-family: 'Montserrat-400';
}

.input-group input{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    background: #F7F7F7;
    border-radius: 8px;
    border: 1px solid #F7F7F7;
    font-size: 14px;
    line-height: 17px;
    color: rgba(17, 17, 17, 0.7);
}

.input-group.inline input{
    max-width: 400px;
}

.input-group input::placeholder{
    text-transform: capitalize;
    font-size: 14px;
    line-height: 18px;
    color: rgba(17, 17, 17, 0.5);
}

.select-group select{
    display: flex;
    align-items: center;
}

.select-group .select2-container--classic .select2-selection--single, 
.select-group .select2-container--default .select2-selection--single,
.select-group .select2-container--default .select2-selection--multiple{
    background: #F7F7F7;
    border-color: #F7F7F7 !important;
    padding: 7px 16px !important;
    border-radius: 8px;
    font-size: 14px;
    line-height: 17px;
    color: rgba(17, 17, 17, 0.7);
    min-height: 50px !important;
    display: flex;
    align-items: center;
}

.select2-selection__arrow{
    position: relative;
    width: 26px;
    height: 26px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
    top: 50% !important;
    transform: translateY(-50%);
    right: 16px !important; 
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow{
    transform: translateY(-50%) scale(-1);
}

.select2-selection__arrow b{
    display: none;
}

.select2-selection__arrow::after{
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: "Font Awesome 5 Pro";
    font-weight: 300;
    content: "\f107";
    font-size: 22px;
    line-height: 26px;
    color: rgba(17, 17, 17, 0.7);
}

.select2-container--open .select2-dropdown--below {
    background-color: #f7f7f7;
    border-color: #f7f7f7;
    padding: 0 16px;
    border-radius: 0 0 8px 8px;
    box-shadow: 0px 6px 10px -4px rgba(0,0,0,0.26);
    -webkit-box-shadow: 0px 6px 10px -4px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 6px 10px -4px rgba(0,0,0,0.26);
}

.select2-container--open .select2-dropdown--above{
    background-color: #f7f7f7;
    border-color: #f7f7f7;
    padding: 0 16px;
    border-radius: 0 0 8px 8px;
    box-shadow: 0px -6px 10px -4px rgba(0,0,0,0.26);
    -webkit-box-shadow: 0px -6px 10px -4px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px -6px 10px -4px rgba(0,0,0,0.26);
}

.select2-container--default .select2-results__options .select2-results__option[aria-selected=true] {
    background-color: var(--primary-color) !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
    background-color: rgba(33, 92, 168, 0.2) !important;
    border: 0 !important;
    border-radius: 16px;
    padding: 5px 10px !important;
    font-size: 12px;
    line-height: 15px;
    color: #787878;
    height: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    margin: 0 !important;
    gap: 5px;
    text-transform: capitalize;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    display: flex !important;
    padding: 0 !important;
    gap: 5px 10px;
    flex-wrap: wrap;
    align-items: center;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #787878 !important;
    float: none;
    margin: 0 !important;
}

.textarea-group textarea{
    width: 100%;
    border-color: #F7F7F7;
    background: #F7F7F7;
    border-radius: 8px;
    padding: 15px 20px;
    color: rgba(17, 17, 17, 0.7);
    font-size: 14px;
    line-height: 17px;
}

.dropzone{
    border: 1px solid #F7F7F7;
    background: #F7F7F7;
    border-radius: 6px;
}

.dropzone.dz-clickable .dz-message{
    position: relative;
    padding-top: 50px;
}

.dropzone.dz-clickable .dz-message::after{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    display: inline-flex;
    width: 30px;
    height: 30px;
    background-image: url("../images/svg/upload.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    font-family: 'Montserrat-500';
    height: 45px;
    padding: 0 20px;
}

.btn-primary{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus{
    background-color: #266ac2 !important;
    border-color: #266ac2 !important;
}

.btn-transparent{
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    color: var(--primary-color);
}

.btn-transparent svg path{
    stroke: var(--primary-color);
}

.btn-transparent:hover,
.btn-transparent:active,
.btn-transparent:focus{
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    color: #FFF;
}

.btn-transparent:hover svg path,
.btn-transparent:active svg path,
.btn-transparent:focus svg path{
    stroke: #FFF;
}

.btn-sm{
    font-size: 16px;
    line-height: 18px; 
    padding: 7px 14px;
    height: 38px;
}

.btn-sm svg{
    width: 24px;
    height: 24px;
    object-fit: contain;
    margin-right: 8px;
}

.nav-tabs{
    border: 0;
    gap: 25px;
}

.nav.nav-tabs .nav-item .nav-link{
    border: 0;
    background: transparent;
    transition: all 0.3s ease-in-out;
    padding: 0 0 8px;
    text-transform: capitalize;
    font-family: 'Montserrat-500';
    color: rgba(17, 17, 17, 0.7);
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
}

.nav.nav-tabs .nav-item .nav-link.active{
    border-bottom: 1px solid #215CA8;
    color: var(--primary-color);
}

.label{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    padding: 0 6px;
    border-radius: 4px;
    height: 18px;
    white-space: nowrap;
    font-size: 12px;
    line-height: 15px;
    font-family: 'Montserrat-500';
    text-transform: capitalize;
}

.label.label-primary{
    background: #628DFB;
    color: #FFFFFF;
}

.custom-radio,
.custom-checkbox{
    position: relative;
}

.hidden-input{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.custom-radio label,
.custom-checkbox label{
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 18px;
    font-family: 'Montserrat-500';
    color: var(--black-color);
}

.custom-radio.align-end label,
.custom-checkbox.align-end label{
    width: 100%;
    padding-right: 30px;
    padding-left: 0;
}

.custom-radio label::before,
.custom-checkbox label::before{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    content: '';
    display: inline-flex;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(17, 17, 17, 0.7);
    background-color: #fff;
    /* background: #18A804; */
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
}

.custom-radio.align-end label::before,
.custom-checkbox.align-end label::before{
    right: 0;
    left: auto;
}

.custom-radio label::after,
.custom-checkbox label::after{
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    content: '';
    background-image: url("../images/svg/check-mark.svg");
    display: inline-flex;
    width: 12px;
    height: 12px;
    border-radius: 2px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.custom-radio.align-end label::after,
.custom-checkbox.align-end label::after{
    right: 4px;
    left: auto;
}

.custom-radio input:checked ~ label::before,
.custom-checkbox input:checked ~ label::before{
    background-color: #18A804;
    border-color: #18A804;
}

.custom-radio input:checked ~ label::after,
.custom-checkbox input:checked ~ label::after{
    opacity: 1;
}

.card .card-title{
    font-size: 20px;
    line-height: 24px;
    font-family: 'Montserrat-600';
    font-weight: normal;
    letter-spacing: 0;
    color: var(--black-color);
}

label.title-style{
    font-size: 16px;
    line-height: 20px;
}
/* 
--------------------------------------------------------------------------------
	End Common Style
--------------------------------------------------------------------------------
*/

/* 
--------------------------------------------------------------------------------
	Start Components Style
--------------------------------------------------------------------------------
*/
.content-header{
	padding: 25px 0;
}

@media only screen and (max-width: 767px){
    .content-header>.flex-space{
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
    }
}


.breadcrumb .breadcrumb-item,
.breadcrumb .breadcrumb-item a{
	color: rgba(17, 17, 17, 0.5);
	font-family: 'Montserrat-500';
    text-transform: capitalize;
}

.breadcrumb .breadcrumb-item a:hover{
	color: var(--primary-color) !important;
}

.card-body{
	padding: 25px;
}

.tab-content .report-title{
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.tab-content .report-date{
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.7);
}

.tab-content .owner-information{
    margin: 0 -25px;
}

.tab-content .owner-information li{
    display: flex;
    align-items: center;
    gap: 40px;
    width: 100%;
    border-bottom: 1px solid #D0D0D0;
    padding: 16px 24px;
    text-transform: capitalize;
    color: rgba(17, 17, 17, 0.7);
}

.tab-content .owner-information li:last-child{
    border-bottom: 0;
}

.tab-content .owner-information li span,
.main-menu.menu-light .navigation li a{
    font-family: 'Montserrat-500';
}

.tab-content .owner-information li span:first-child{
    display: inline-flex;
    min-width: 25%;
}

.tab-content .owner-information li span:last-child{
    max-width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main-menu.menu-light .navigation li a{
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
}

.main-menu.menu-light .navigation li a i svg {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;
    object-fit: contain;
}

body.vertical-layout.vertical-menu.menu-expanded .main-menu{
    width: 300px;
}

body.vertical-layout.vertical-menu.menu-expanded .content, 
body.vertical-layout.vertical-menu.menu-expanded .footer,
body.vertical-layout.vertical-menu.menu-expanded .navbar .navbar-container{
    margin-left: 300px;
}

.centered-chart-title{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.centered-chart-title span{
    font-size: 12px;
    line-height: 15px;
    color: #787878;
}

.centered-chart-title h3{
    font-size: 32px;
    line-height: 36px;
    color: var(--primary-color);
    font-family: 'Montserrat-600';
}

.clndr .event-listing .event-listing-title{
    display: none !important;
}

.clndr{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}

.clndr .event-listing,
.clndr .clndr-grid{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #fff;
}

.clndr .event-listing{
    margin-top: 20px;
    max-height: 120px;
    overflow-y: auto;
    padding-right: 5px;
}

.clndr .event-listing .event-item .event-item-name{
    color: var(--primary-color);
    font-family: 'Montserrat-400' !important;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

.clndr .event-listing .event-item .event-item-day{
    color: #4B4B4B;
    font-family: 'Montserrat-400';
    font-size: 14px !important;
    line-height: 18px;
}

.clndr .event-listing .event-item-location{
    display: none !important;
}

.clndr .event-listing .event-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    min-height: 45px;
    padding: 10px 20px;
    background-color: rgba(33, 92, 168, 0.1);
}

.clndr .event-listing .event-item::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 10px;
    background-color: var(--primary-color);
}

.clndr .clndr-grid .days .day, .clndr .clndr-grid .days .empty {
    width: 12%;
    padding: 12px 0;
}

.clndr .clndr-grid .days .today {
    border-radius: 12px;
    background-color: var(--primary-color);
    color: #FFFFFF !important;
}

.clndr .clndr-grid .days .day.selected {
    background-color: var(--secondary-color);
    border-radius: 12px;
}

.clndr .clndr-grid .days .day.event .day-number, 
.clndr .clndr-grid .days .empty.event .day-number{
    position: relative;
    border: 0 !important;
}

.clndr .clndr-grid .days .day.event .day-number::after, 
.clndr .clndr-grid .days .empty.event .day-number::after{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    display: inline-flex;
    width: 5px;
    height: 5px;
    background-color: #FFFFFF;
    border-radius: 50%;
    border: 1.2px solid var(--primary-color);
}

.clndr .clndr-grid .days .today .day-number::after{
    border-color: #FFFFFF;
}

.clndr .clndr-grid .days-of-the-week{
    background-color: transparent;
}

.clndr .clndr-grid .days-of-the-week .header-day{
    font-size: 13px;
    line-height: 16px;
    color: #8F9BB3;
}

.clndr .clndr-grid .days .day, 
.clndr .clndr-grid .days .empty,
.clndr .clndr-grid .days-of-the-week .header-day{
    font-family: 'Montserrat-400';
}

.clndr .clndr-grid .days .day, 
.clndr .clndr-grid .days .empty{
    font-size: 15px;
    line-height: 20px;
    color: #222B45;
}

.clndr .clndr-controls{
    background-color: transparent;
    color: #4B4B4B;
    font-size: 20px;
    line-height: 16px;
    font-family: 'Montserrat-400';
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clndr .clndr-controls .clndr-next-button, 
.clndr .clndr-controls .clndr-previous-button{
    background-color: #FFFFFF;
    border: 1px solid rgba(120, 120, 120, 0.5);
    height: 30px;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    position: relative;
    float: none;
}

.clndr .clndr-controls .clndr-previous-button{
    order: 1;
}

.clndr .clndr-controls .current-month{
    order: 2;
}

.clndr .clndr-controls .clndr-next-button{
    order: 3;
}

.clndr .clndr-controls .clndr-next-button::after,
.clndr .clndr-controls .clndr-previous-button::after{
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: "Font Awesome 5 Pro";
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: #4B4B4B;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.clndr .clndr-controls .clndr-next-button::after{
    content: "\f105";
}
.clndr .clndr-controls .clndr-previous-button::after{
    content: "\f104";
}

/* 
--------------------------------------------------------------------------------
	End Components Style
--------------------------------------------------------------------------------
*/

/* 
--------------------------------------------------------------------------------
	Start Newspace Style
--------------------------------------------------------------------------------
*/
.newspace-slider .carousel-inner{
	border-radius: 8px;
}

.newspace-slider .carousel-inner .carousel-item img{
	width: 100%;
	height: 332px;
	object-fit: cover;
}

.feedback-item .title{
    display: flex;
    align-items: center;
    color: rgba(17, 17, 17, 0.8);
}

.feedback-item .title img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.total-rating{
    display: flex;
    align-items: center;
    color: #777272;
}

.total-rating img{
    margin-right: 5px;
}

.total-rating span{
    color: #4B4B4B;
}

.btn-edit,
.btn-calender{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn-edit:hover svg path,
.btn-calender:hover svg path{
    stroke: var(--primary-color);
}
/* 
--------------------------------------------------------------------------------
	End Newspace Style
--------------------------------------------------------------------------------
*/

/* 
--------------------------------------------------------------------------------
	Start Owner Style
--------------------------------------------------------------------------------
*/
.owner-label{
    display: flex;
    align-items: center;
    padding: 0rem 0.85rem;
    background-color: transparent;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 2px solid rgba(103, 227, 254, 0.1);
}

.owner-label img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 2px;
}

.owner-label .owner-overview{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    flex: 1;
}

.owner-label .owner-overview span:not(.label){
    line-height: 20px;
    font-family: 'Montserrat-500';
    display: inline-flex;
    margin-bottom: 5px;
    color: #FFFFFF;
    text-transform: capitalize;
}

.owner-label .owner-overview small{
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
    display: inline-flex;
    margin-bottom: 20px;
    text-transform: capitalize;
    font-family: 'Montserrat-300';
}

/* Start Owner Profile */
.profile-image{
    width: 102px;
    height: 112px;
    background: #D9D9D9;
    border-radius: 8px;
    padding: 4px 3px 3px;
    position: relative;
}

.profile-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.profile-image a{
    position: absolute;
    bottom: -3px;
    right: -3px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: #696969;
    border-radius: 10px;
}

.profile-image a img{
    width: 24px;
    height: 24px; 
    object-fit: contain;
}

.profile-overview h4{
    font-size: 20px;
    line-height: 24px; 
    color: var(--black-color);
    margin-bottom: 0;
    text-transform: capitalize;
}

.info-list{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.info-list li{
    display: flex;
    gap: 15px;
}

.info-list li span{
    color: var(--black-color);
}

.info-list li span.title{
    color: rgba(17, 17, 17, 0.5);
    display: inline-flex;
    min-width: 72px;
}

.time-pickers{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.time-pickers li{
    display: flex;
    align-items: center;
    gap: 30px;
}

.time-pickers li span.title{
    font-size: 18px;
    line-height: 22px;
    color: var(--black-color);
    display: inline-flex;
    min-width: 60px;
}

.time-pickers li .pickatime{
    width: 120px;
    font-size: 14px;
    line-height: 17px;
    border: 1px solid rgba(17, 17, 17, 0.3);
    border-radius: 4px;
    padding: 0 6px;
    height: 30px;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
}

.time-pickers li .pickatime::placeholder{
    color: var(--black-color);
    font-size: 14px;
    line-height: 17px;
}

ul.time-pickers .picker--time{
    min-width: unset;
    width: 120px;
}

ul.documents{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

ul.documents li{
    width: calc(50% - 25px);
}

ul.documents li{
    display: flex;
    align-items: center;
    padding: 8px;
    background: #FFFFFF;
    border: 1px solid rgba(125, 136, 166, 0.2);
    border-radius: 8px;
}

ul.documents li a img{
    width: 80px;
    height: 80px;
    object-fit: contain;
    border-radius: 8px;
}

ul.documents li .documents-info{
    flex: 1;
    padding-left: 10px;
}

ul.documents li .documents-info .name{
    display: block;
    width: 100%;
    text-transform: capitalize;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    color: var(--black-color);
    margin-bottom: 5px;
}

ul.documents li .documents-info .type{
    text-transform: uppercase;
    color: #979797;
}

ul.branches {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

ul.branches li a{
    display: flex;
    align-items: center;
    padding: 8px;
    background: #FFFFFF;
    border: 1px solid rgba(125, 136, 166, 0.2);
    border-radius: 8px;
}

ul.branches li a>img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
    border: 1px solid rgba(125, 136, 166, 0.2);
    border-radius: 8px;
}

ul.branches li a .flex-space .branch-info{
    display: flex;
    flex-direction: column;
    flex: 1;
}

ul.branches li a .flex-space .branch-info span{
    color: #979797;
}

ul.branches li a .flex-space .branch-info .name{
    color: var(--black-color);
}

ul.branches li a .flex-space svg{
    width: 12px;
    object-fit: contain;
}

.link-group li a svg{
    margin-left: 15px;
}
/* End Owner Profile */

/* Start Owner NewSpace */
.form-wizard form{
    transition: opacity 0.5s ease;
    opacity: 1;
    visibility: visible;
}
.form-wizard form:not(.wizard) {
    visibility: hidden;
    opacity: 0;
}

.form-wizard .steps ul li.current .current-info,
.form-wizard .content .title{
    display: none !important;
}

.form-wizard .steps ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 25px;
}

.form-wizard .steps ul li{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.form-wizard .steps ul li a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;

    background-color: #FFF;
    border: 1px solid #9CA3AF;
    color: #9CA3AF;
    font-size: 18px;
    line-height: 22px;
    position: relative;
    z-index: 2;
    transition: all 0.2s ease-in-out;
}

.form-wizard .steps ul li.done a,
.form-wizard .steps ul li.current a{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: #FFFFFF;
}

.form-wizard .steps ul li::before,
.form-wizard .steps ul li::after{
    content: '';
    position: absolute;
    width: 50%;
    height: 2px;
    background: #D1D5DB;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    transition: all 0.2s ease-in-out;
}

.form-wizard .steps ul li::before{
    left: 0;
}

.form-wizard .steps ul li::after{
    right: 0;
}

.form-wizard .steps ul li:last-child::after,
.form-wizard .steps ul li:first-child::before{
    content: none;
}

.form-wizard .steps ul li.done::after,
.form-wizard .steps ul li.done::before,
.form-wizard .steps ul li.current::before{
    background-color: var(--primary-color);
}

.form-wizard .steps ul li.current ~ li.done::before,
.form-wizard .steps ul li.current ~ li.done::after{
    background-color: #D1D5DB;
}

.form-wizard .steps ul li.current ~ li.done a,
.form-wizard .steps ul li.current ~ li.done a{
    background-color: #FFF;
    border: 1px solid #9CA3AF;
    color: #9CA3AF;
}

.form-wizard .content{
    margin: 0 !important;
}

.form-wizard .actions ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.form-wizard .actions ul li a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    height: 50px;
    width: 320px;
    font-size: 15px;
    line-height: 19px;
    font-family: 'Montserrat-600';
    background-color: var(--primary-color);
    color: #FFF;
}

.form-wizard .actions ul li:first-child a{
    background-color: #A2A2A2;
    width: 270px;
}

.form-wizard .actions ul li:not(:first-child) a:hover{
    background-color: #113975;
}

.form-wizard .actions ul li:first-child a:hover{
    background-color: #969696;
}

.checkbox-list ul{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.checkbox-list ul li .custom-checkbox label{
    font-size: 16px;
    line-height: 20px;
    color: var(--black-color);
}

.checkbox-list ul li .custom-checkbox label img{
    width: 26px;
    height: 26px;   
    object-fit: contain;
    margin-right: 20px;
}

.checkbox-list ul li a{
    display: flex;
    align-items: center;
}

.checkbox-list ul li a:hover{
    color: var(--primary-color) !important;
}

.checkbox-list ul li a svg{
    width: 26px;
    height: 26px;   
    object-fit: contain;
    margin-right: 20px;
}

.checkbox-list ul li a:hover svg path{
    stroke: var(--primary-color);
}
/* End Owner NewSpace */
/* 
--------------------------------------------------------------------------------
	End Owner Style
--------------------------------------------------------------------------------
*/

/* 
--------------------------------------------------------------------------------
	Start Custom Padding--Margin Style
--------------------------------------------------------------------------------
*/
.ma-0 {margin: 0px !important;}.ma-5 {margin: 5px !important;}
.ma-10 {margin: 10px !important;}.ma-15 {margin: 15px !important;}
.ma-20 {margin: 20px !important;}.ma-25 {margin: 25px !important;}
.ma-30 {margin: 30px !important;}.ma-35 {margin: 35px !important;}
.ma-40 {margin: 40px !important;}.ma-45 {margin: 45px !important;}
.ma-50 {margin: 50px !important;}.ma-55 {margin: 55px !important;}
.ma-60 {margin: 60px !important;}.ma-70 {margin: 70px !important;}
.ma-80 {margin: 80px !important;}.ma-90 {margin: 90px !important;}
.ma-100 {margin: 100px !important;}

/*-------- Margin Top Start --------*/
.mt-0 {margin-top: 0px !important;}.mt-5 {margin-top: 5px !important;}.mt-10 {margin-top: 10px;}
.mt-15 {margin-top: 15px;}.mt-20 {margin-top: 20px;}.mt-25 {margin-top: 25px;}
.mt-30 {margin-top: 30px;}.mt-35 {margin-top: 35px;}.mt-40 {margin-top: 40px;}
.mt-45 {margin-top: 45px;}.mt-50 {margin-top: 50px;}.mt-55 {margin-top: 55px;}
.mt-60 {margin-top: 60px;}.mt-65 {margin-top: 65px;}.mt-70 {margin-top: 70px;}
.mt-75 {margin-top: 75px;}.mt-80 {margin-top: 80px;}.mt-85 {margin-top: 85px;}
.mt-90 {margin-top: 90px;}.mt-95 {margin-top: 95px;}.mt-100 {margin-top: 100px;}

@media only screen and (max-width: 1190px) {
    .lg-mt-30 {margin-top: 30px !important;}
}

@media only screen and (max-width: 991px) {
    .md-mt-0 {margin-top: 0 !important;}.md-mt-10 {margin-top: 10px !important;}
    .md-mt-20 {margin-top: 20px !important;}.md-mt-30 {margin-top: 30px !important;}
    .md-mt-40 {margin-top: 40px !important;}.md-mt-50 {margin-top: 50px !important;}
    .md-mt-60 {margin-top: 60px !important;}.md-mt-70 {margin-top: 70px !important;}
}
@media only screen and (max-width: 767px) {
    .sm-mt-0 {margin-top: 0 !important;}.sm-mt-10 {margin-top: 10px !important;}
    .sm-mt-20 {margin-top: 20px !important;}.sm-mt-30 {margin-top: 30px !important;}
    .sm-mt-40 {margin-top: 40px !important;}.sm-mt-50 {margin-top: 50px !important;}
    .sm-mt-60 {margin-top: 60px !important;}
}
@media only screen and (max-width: 575px) {
    .xs-mt-0 {margin-top: 0px !important;}.xs-mt-10 {margin-top: 10px !important;}
    .xs-mt-20 {margin-top: 20px !important;}.xs-mt-30 {margin-top: 30px !important;}
}
/*-------- Margin Top End --------*/

/*-------- Margin Right Start --------*/
.mr-0 {margin-right: 0 !important;}.mr-5 {margin-right: 5px;}.mr-10 {margin-right: 10px;}
.mr-15 {margin-right: 15px;}.mr-20 {margin-right: 20px;}.mr-25 {margin-right: 25px;}
.mr-30 {margin-right: 30px;}.mr-35 {margin-right: 35px;}.mr-40 {margin-right: 40px;}
.mr-45 {margin-right: 45px;}.mr-50 {margin-right: 50px;}.mr-55 {margin-right: 55px;}
.mr-60 {margin-right: 60px;}.mr-65 {margin-right: 65px;}.mr-70 {margin-right: 70px;}
.mr-75 {margin-right: 75px;}.mr-80 {margin-right: 80px;}.mr-85 {margin-right: 85px;}
.mr-90 {margin-right: 90px;}.mr-100 {margin-right: 100px;}

@media only screen and (max-width: 991px) {
    .md-mr-0 {margin-right: 0 !important;}
}
@media only screen and (max-width: 575px) {
    .xs-mr-0 {margin-right: 0 !important;}
}
/*-------- Margin Right End --------*/

/*-------- Margin Bottom Start --------*/
.mb-0 {margin-bottom: 0px !important;}.mb-5 {margin-bottom: 5px !important;}
.mb-10 {margin-bottom: 10px !important;}.mb-15 {margin-bottom: 15px !important;}
.mb-20 {margin-bottom: 20px !important;}.mb-25 {margin-bottom: 25px !important;}
.mb-30 {margin-bottom: 30px !important;}.mb-35 {margin-bottom: 35px !important;}
.mb-40 {margin-bottom: 40px !important;}.mb-45 {margin-bottom: 45px !important;}
.mb-50 {margin-bottom: 50px !important;}.mb-55 {margin-bottom: 55px !important;}
.mb-60 {margin-bottom: 60px !important;}.mb-65 {margin-bottom: 65px !important;}
.mb-70 {margin-bottom: 70px !important;}.mb-75 {margin-bottom: 75px !important;}
.mb-80 {margin-bottom: 80px !important;}.mb-85 {margin-bottom: 85px !important;}
.mb-90 {margin-bottom: 90px !important;}.mb-95 {margin-bottom: 95px !important;}
.mb-100 {margin-bottom: 100px !important;}

@media only screen and (max-width: 1199px) {
    .lg-mb-0 {margin-bottom: 0 !important;}.lg-mb-30 {margin-bottom: 30px !important;}
    .lg-mb-40 {margin-bottom: 40px !important;}.lg-mb-50 {margin-bottom: 50px !important;}
    .lg-mb-70 {margin-bottom: 70px !important;}.lg-mb-80 {margin-bottom: 80px !important;}
    .lg-mb-90 {margin-bottom: 90px !important;}
}
@media only screen and (max-width: 991px) {
    .md-mb-0 {margin-bottom: 0 !important;}.md-mb-10 {margin-bottom: 10px !important;}
    .md-mb-20 {margin-bottom: 20px !important;}.md-mb-30 {margin-bottom: 30px !important;}
    .md-mb-40 {margin-bottom: 40px !important;}.md-mb-50 {margin-bottom: 50px !important;}
    .md-mb-60 {margin-bottom: 60px !important;}.md-mb-70 {margin-bottom: 70px !important;}
    .md-mb-80 {margin-bottom: 80px !important;}.md-mb-90 {margin-bottom: 90px !important;}
    .md-mb-15 {margin-bottom: 15px !important;}
}
@media only screen and (max-width: 767px) {
    .sm-mb-0 {margin-bottom: 0 !important;}.sm-mb-10 {margin-bottom: 10px !important;}
    .sm-mb-15 {margin-bottom: 15px !important;}.sm-mb-20 {margin-bottom: 20px !important;}
    .sm-mb-25 {margin-bottom: 25px !important;}.sm-mb-30 {margin-bottom: 30px !important;}
    .sm-mb-40 {margin-bottom: 40px !important;}.sm-mb-50 {margin-bottom: 50px !important;}
    .sm-mb-60 {margin-bottom: 60px !important;}.sm-mb-70 {margin-bottom: 70px !important;}
}
@media only screen and (max-width: 575px) {
    .xs-mb-0 {margin-bottom: 0 !important;}.xs-mb-5 {margin-bottom: 5px !important;}
    .xs-mb-10 {margin-bottom: 10px !important;}.xs-mb-20 {margin-bottom: 20px !important;}
    .xs-mb-30 {margin-bottom: 30px !important;}.xs-mb-40 {margin-bottom: 40px !important;}
    .xs-mb-50 {margin-bottom: 50px !important;}
}
/*-------- Margin Bottom End --------*/

/*-------- Margin Left Start --------*/
.ml-0 {margin-left: 0px !important;}.ml-5 {margin-left: 5px;}.ml-10 {margin-left: 10px;}
.ml-15 {margin-left: 15px;}.ml-20 {margin-left: 20px;}.ml-25 {margin-left: 25px;}
.ml-30 {margin-left: 30px;}.ml-35 {margin-left: 35px;}.ml-40 {margin-left: 40px;}
.ml-45 {margin-left: 45px;}.ml-50 {margin-left: 50px !important;}
.ml-60 {margin-left: 60px !important;}.ml-70 {margin-left: 70px !important;}
.ml-80 {margin-left: 80px !important;}

@media only screen and (max-width: 991px) {
    .md-ml-0 {margin-left: 0 !important;}
}
@media only screen and (max-width: 767px) {
    .sm-ml-0 {margin-left: 0 !important;}
}
/*-------- Margin Left End --------*/

/*-------- Padding Bottom Start --------*/
.pa-0 {padding: 0px !important;}.pa-5 {padding: 5px !important;}
.pa-10 {padding: 10px !important;}.pa-15 {padding: 15px !important;}
.pa-20 {padding: 20px !important;}.pa-25 {padding: 25px !important;}
.pa-30 {padding: 30px !important;}.pa-35 {padding: 35px !important;}
.pa-40 {padding: 40px !important;}.pa-45 {padding: 45px !important;}
.pa-50 {padding: 50px !important;}.pa-55 {padding: 55px !important;}
.pa-60 {padding: 60px !important;}.pa-70 {padding: 70px !important;}
.pa-80 {padding: 80px !important;}.pa-90 {padding: 90px !important;}
.pa-100 {padding: 100px !important;}

.pb-0 {padding-bottom: 0px !important;}.pb-5 {padding-bottom: 5px !important;}
.pb-10 {padding-bottom: 10px !important;}.pb-15 {padding-bottom: 15px !important;}
.pb-20 {padding-bottom: 20px !important;}.pb-25 {padding-bottom: 25px !important;}
.pb-30 {padding-bottom: 30px !important;}.pb-35 {padding-bottom: 35px !important;}
.pb-40 {padding-bottom: 40px !important;}.pb-45 {padding-bottom: 45px !important;}
.pb-50 {padding-bottom: 50px !important;}.pb-55 {padding-bottom: 55px !important;}
.pb-60 {padding-bottom: 60px !important;}.pb-70 {padding-bottom: 70px !important;}
.pb-80 {padding-bottom: 80px !important;}.pb-90 {padding-bottom: 90px !important;}
.pb-100 {padding-bottom: 100px !important;}.pb-150 {padding-bottom: 150px !important;}

@media only screen and (max-width: 1199px) {
    .lg-pb-0 {padding-bottom: 0px !important;}.lg-pb-5 {padding-bottom: 5px !important;}
    .lg-pb-10 {padding-bottom: 10px !important;}.lg-pb-15 {padding-bottom: 15px !important;}
    .lg-pb-20 {padding-bottom: 20px !important;}.lg-pb-25 {padding-bottom: 25px !important;}
    .lg-pb-30 {padding-bottom: 30px !important;}.lg-pb-35 {padding-bottom: 35px !important;}
    .lg-pb-40 {padding-bottom: 40px !important;}.lg-pb-45 {padding-bottom: 45px !important;}
    .lg-pb-50 {padding-bottom: 50px !important;}
}
@media only screen and (max-width: 991px) {
    .md-pb-0 {padding-bottom: 0 !important;}.md-pb-5 {padding-bottom: 5px !important;}
    .md-pb-10 {padding-bottom: 10px !important;}.md-pb-15 {padding-bottom: 15px !important;}
    .md-pb-20 {padding-bottom: 20px !important;}.md-pb-25 {padding-bottom: 25px !important;}
    .md-pb-30 {padding-bottom: 30px !important;}.md-pb-35 {padding-bottom: 35px !important;}
    .md-pb-40 {padding-bottom: 40px !important;}.md-pb-45 {padding-bottom: 45px !important;}
    .md-pb-50 {padding-bottom: 50px !important;}
}
@media only screen and (max-width: 767px) {
    .sm-pb-0 {padding-bottom: 0 !important;}.sm-pb-5 {padding-bottom: 5px !important;}
    .sm-pb-10 {padding-bottom: 10px !important;}.sm-pb-15 {padding-bottom: 15px !important;}
    .sm-pb-20 {padding-bottom: 20px !important;}.sm-pb-25 {padding-bottom: 25px !important;}
    .sm-pb-30 {padding-bottom: 30px !important;}.sm-pb-35 {padding-bottom: 35px !important;}
    .sm-pb-40 {padding-bottom: 40px !important;}.sm-pb-45 {padding-bottom: 45px !important;}
    .sm-pb-50 {padding-bottom: 50px !important;}
}
@media only screen and (max-width: 575px) {
    .xs-pb-0 {padding-bottom: 0 !important;}.xs-pb-5 {padding-bottom: 5px !important;}
    .xs-pb-10 {padding-bottom: 10px !important;}.xs-pb-15 {padding-bottom: 15px !important;}
    .xs-pb-20 {padding-bottom: 20px !important;}.xs-pb-25 {padding-bottom: 25px !important;}
    .xs-pb-30 {padding-bottom: 30px !important;}.xs-pb-35 {padding-bottom: 35px !important;}
    .xs-pb-40 {padding-bottom: 40px !important;}.xs-pb-45 {padding-bottom: 45px !important;}
    .xs-pb-50 {padding-bottom: 50px !important;}
}
/*-------- Padding Bottom End --------*/

/*-------- Padding Left Start --------*/
.pl-0 {padding-left: 0px !important;}.pl-5 {padding-left: 5px !important;}
.pl-10 {padding-left: 10px !important;}.pl-15 {padding-left: 15px !important;}
.pl-20 {padding-left: 20px !important;}.pl-25 {padding-left: 25px !important;}
.pl-30 {padding-left: 30px !important;}.pl-35 {padding-left: 35px !important;}
.pl-40 {padding-left: 40px !important;}.pl-45 {padding-left: 45px !important;}
.pl-50 {padding-left: 50px !important;}.pl-55 {padding-left: 55px !important;}
.pl-60 {padding-left: 60px !important;}.pl-70 {padding-left: 70px !important;}
.pl-80 {padding-left: 80px !important;}.pl-90 {padding-left: 90px !important;}
.pl-100 {padding-left: 100px !important;}

@media only screen and (max-width: 1199px) {
    .lg-pl-0 {padding-left: 0px !important;}.lg-pl-5 {padding-left: 5px !important;}
    .lg-pl-10 {padding-left: 10px !important;}.lg-pl-15 {padding-left: 15px !important;}
    .lg-pl-20 {padding-left: 20px !important;}.lg-pl-25 {padding-left: 25px !important;}
    .lg-pl-30 {padding-left: 30px !important;}.lg-pl-35 {padding-left: 35px !important;}
    .lg-pl-40 {padding-left: 40px !important;}.lg-pl-45 {padding-left: 45px !important;}
    .lg-pl-50 {padding-left: 50px !important;}
}
@media only screen and (max-width: 991px) {
    .md-pl-0 {padding-left: 0 !important;}.md-pl-5 {padding-left: 5px !important;}
    .md-pl-10 {padding-left: 10px !important;}.md-pl-15 {padding-left: 15px !important;}
    .md-pl-20 {padding-left: 20px !important;}.md-pl-25 {padding-left: 25px !important;}
    .md-pl-30 {padding-left: 30px !important;}.md-pl-35 {padding-left: 35px !important;}
    .md-pl-40 {padding-left: 40px !important;}.md-pl-45 {padding-left: 45px !important;}
    .md-pl-50 {padding-left: 50px !important;}
}
@media only screen and (max-width: 767px) {
    .sm-pl-0 {padding-left: 0 !important;}.sm-pl-5 {padding-left: 5px !important;}
    .sm-pl-10 {padding-left: 10px !important;}.sm-pl-15 {padding-left: 15px !important;}
    .sm-pl-20 {padding-left: 20px !important;}.sm-pl-25 {padding-left: 25px !important;}
    .sm-pl-30 {padding-left: 30px !important;}.sm-pl-35 {padding-left: 35px !important;}
    .sm-pl-40 {padding-left: 40px !important;}.sm-pl-45 {padding-left: 45px !important;}
    .sm-pl-50 {padding-left: 50px !important;}
}
@media only screen and (max-width: 575px) {
    .xs-pl-0 {padding-left: 0 !important;}.xs-pl-5 {padding-left: 5px !important;}
    .xs-pl-10 {padding-left: 10px !important;}.xs-pl-15 {padding-left: 15px !important;}
    .xs-pl-20 {padding-left: 20px !important;}.xs-pl-25 {padding-left: 25px !important;}
    .xs-pl-30 {padding-left: 30px !important;}.xs-pl-35 {padding-left: 35px !important;}
    .xs-pl-40 {padding-left: 40px !important;}.xs-pl-45 {padding-left: 45px !important;}
    .xs-pl-50 {padding-left: 50px !important;}
}
/*-------- Padding Left End --------*/

/*-------- Padding Top Start --------*/
.pt-0 {padding-top: 0px !important;}.pt-5 {padding-top: 5px !important;}
.pt-10 {padding-top: 10px !important;}.pt-15 {padding-top: 15px !important;}
.pt-20 {padding-top: 20px !important;}.pt-25 {padding-top: 25px !important;}
.pt-30 {padding-top: 30px !important;}.pt-35 {padding-top: 35px !important;}
.pt-40 {padding-top: 40px !important;}.pt-45 {padding-top: 45px !important;}
.pt-50 {padding-top: 50px !important;}.pt-55 {padding-top: 55px !important;}
.pt-60 {padding-top: 60px !important;}.pt-70 {padding-top: 70px !important;}
.pt-80 {padding-top: 80px !important;}.pt-90 {padding-top: 90px !important;}
.pt-100 {padding-top: 100px !important;}

@media only screen and (max-width: 1199px) {
    .lg-pt-0 {padding-top: 0px !important;}.lg-pt-5 {padding-top: 5px !important;}
    .lg-pt-10 {padding-top: 10px !important;}.lg-pt-15 {padding-top: 15px !important;}
    .lg-pt-20 {padding-top: 20px !important;}.lg-pt-25 {padding-top: 25px !important;}
    .lg-pt-30 {padding-top: 30px !important;}.lg-pt-35 {padding-top: 35px !important;}
    .lg-pt-40 {padding-top: 40px !important;}.lg-pt-45 {padding-top: 45px !important;}
    .lg-pt-50 {padding-top: 50px !important;}
}
@media only screen and (max-width: 991px) {
    .md-pt-0 {padding-top: 0 !important;}.md-pt-5 {padding-top: 5px !important;}
    .md-pt-10 {padding-top: 10px !important;}.md-pt-15 {padding-top: 15px !important;}
    .md-pt-20 {padding-top: 20px !important;}.md-pt-25 {padding-top: 25px !important;}
    .md-pt-30 {padding-top: 30px !important;}.md-pt-35 {padding-top: 35px !important;}
    .md-pt-40 {padding-top: 40px !important;}.md-pt-45 {padding-top: 45px !important;}
    .md-pt-50 {padding-top: 50px !important;}
}
@media only screen and (max-width: 767px) {
    .sm-pt-0 {padding-top: 0 !important;}.sm-pt-5 {padding-top: 5px !important;}
    .sm-pt-10 {padding-top: 10px !important;}.sm-pt-15 {padding-top: 15px !important;}
    .sm-pt-20 {padding-top: 20px !important;}.sm-pt-25 {padding-top: 25px !important;}
    .sm-pt-30 {padding-top: 30px !important;}.sm-pt-35 {padding-top: 35px !important;}
    .sm-pt-40 {padding-top: 40px !important;}.sm-pt-45 {padding-top: 45px !important;}
    .sm-pt-50 {padding-top: 50px !important;}
}
@media only screen and (max-width: 575px) {
    .xs-pt-0 {padding-top: 0 !important;}.xs-pt-5 {padding-top: 5px !important;}
    .xs-pt-10 {padding-top: 10px !important;}.xs-pt-15 {padding-top: 15px !important;}
    .xs-pt-20 {padding-top: 20px !important;}.xs-pt-25 {padding-top: 25px !important;}
    .xs-pt-30 {padding-top: 30px !important;}.xs-pt-35 {padding-top: 35px !important;}
    .xs-pt-40 {padding-top: 40px !important;}.xs-pt-45 {padding-top: 45px !important;}
    .xs-pt-50 {padding-top: 50px !important;}
}
/*-------- Padding Top End --------*/

/*-------- Padding Right Start --------*/
.pr-0 {padding-right: 0px !important;}.pr-5 {padding-right: 5px !important;}
.pr-10 {padding-right: 10px !important;}.pr-15 {padding-right: 15px !important;}
.pr-20 {padding-right: 20px !important;}.pr-25 {padding-right: 25px !important;}
.pr-30 {padding-right: 30px !important;}.pr-35 {padding-right: 35px !important;}
.pr-40 {padding-right: 40px !important;}.pr-45 {padding-right: 45px !important;}
.pr-50 {padding-right: 50px !important;}.pr-55 {padding-right: 55px !important;}
.pr-60 {padding-right: 60px !important;}.pr-70 {padding-right: 70px !important;}
.pr-80 {padding-right: 80px !important;}.pr-90 {padding-right: 90px !important;}
.pr-100 {padding-right: 100px !important;}

@media only screen and (max-width: 1199px) {
    .lg-pr-0 {padding-right: 0px !important;}.lg-pr-5 {padding-right: 5px !important;}
    .lg-pr-10 {padding-right: 10px !important;}.lg-pr-15 {padding-right: 15px !important;}
    .lg-pr-20 {padding-right: 20px !important;}.lg-pr-25 {padding-right: 25px !important;}
    .lg-pr-30 {padding-right: 30px !important;}.lg-pr-35 {padding-right: 35px !important;}
    .lg-pr-40 {padding-right: 40px !important;}.lg-pr-45 {padding-right: 45px !important;}
    .lg-pr-50 {padding-right: 50px !important;}
}
@media only screen and (max-width: 991px) {
    .md-pr-0 {padding-right: 0 !important;}.md-pr-5 {padding-right: 5px !important;}
    .md-pr-10 {padding-right: 10px !important;}.md-pr-15 {padding-right: 15px !important;}
    .md-pr-20 {padding-right: 20px !important;}.md-pr-25 {padding-right: 25px !important;}
    .md-pr-30 {padding-right: 30px !important;}.md-pr-35 {padding-right: 35px !important;}
    .md-pr-40 {padding-right: 40px !important;}.md-pr-45 {padding-right: 45px !important;}
    .md-pr-50 {padding-right: 50px !important;}
}
@media only screen and (max-width: 767px) {
    .sm-pr-0 {padding-right: 0 !important;}.sm-pr-5 {padding-right: 5px !important;}
    .sm-pr-10 {padding-right: 10px !important;}.sm-pr-15 {padding-right: 15px !important;}
    .sm-pr-20 {padding-right: 20px !important;}.sm-pr-25 {padding-right: 25px !important;}
    .sm-pr-30 {padding-right: 30px !important;}.sm-pr-35 {padding-right: 35px !important;}
    .sm-pr-40 {padding-right: 40px !important;}.sm-pr-45 {padding-right: 45px !important;}
    .sm-pr-50 {padding-right: 50px !important;}
}
@media only screen and (max-width: 575px) {
    .xs-pr-0 {padding-right: 0 !important;}.xs-pr-5 {padding-right: 5px !important;}
    .xs-pr-10 {padding-right: 10px !important;}.xs-pr-15 {padding-right: 15px !important;}
    .xs-pr-20 {padding-right: 20px !important;}.xs-pr-25 {padding-right: 25px !important;}
    .xs-pr-30 {padding-right: 30px !important;}.xs-pr-35 {padding-right: 35px !important;}
    .xs-pr-40 {padding-right: 40px !important;}.xs-pr-45 {padding-right: 45px !important;}
    .xs-pr-50 {padding-right: 50px !important;}
}
/* 
--------------------------------------------------------------------------------
	End Custom Padding--Margin Style
--------------------------------------------------------------------------------
*/
